<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />
        <script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>*@

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>


<script>
    var currentRow1 = "";
    var r = "";
    $(document).ready(function () {

        function myFunction() {
            document.getElementById('CurrentDate').value = Date();
        }

        $(document).on('change', '#orderdetailsitems .VAT', function () {
            currentRow1 = $(this).closest("tr");
            calculatevat();
            SUMOFALLPRODUCT();
            sumofGrandModel();

        });

        LoadProduct();

        $("#add").click(function () {

            currentRow1 = $(this).closest("tr");

            var isAllValid = true;
            if ($("#SelectProductQutation").val() == "0") {
                isAllValid = false;
                alert("Please select Item");
            }

            if (isAllValid) {

                var $newRow = $("#mainrow").clone().removeAttr('id');
                $('.product', $newRow).val($("#SelectProductQutation").val());
                $('.VAT', $newRow).val($("#SelectVAT").val());

                //Replace add button with remove button
                $("#add", $newRow).addClass('remove').val('Remove').removeClass('btn-success').addClass('btn-danger');

                //Remove id attribute from new clone row

                $("#SelectProductQutation,#Quantity,#Rate,#FTotal,#SelectVAT", $newRow).removeAttr('id');

                $('span.error', $newRow).remove();

                $('#orderdetailsitems').append($newRow);

                $('#SelectProductQutation').val('0');
                $('#Quantity').val('');
                $('#Rate').val('');
                $('#FTotal').val('');

                if ($('#orderItemError').text != '') {
                    $('#orderItemError').text('');
                }

                calculatevat();
                SUMOFALLPRODUCT();
                sumofGrandModel();

            }
        });



        function calculatevat() {
            debugger;
            if ($('#orderdetailsitems tr').length == 0) {
                $('#btwo').text('0.00');
                $('#BTW6').text('0.00');
                $('#BTW21').text('0.00');
            }
            else {

                var sum0 = 0;
                var total0 = 0;
                $('#orderdetailsitems tr').each(function () {
                    $('#BTW0').text();

                    r = $(this).closest('tr');
                    var value = r.find('.VAT  option:selected').val();
                    if (r.find('.VAT  option:selected').val() == 0) {
                        total0 = r.find('td:eq(3)').find('input').val();
                        if (!isNaN(total0) && total0.length != 0) {
                            sum0 += parseInt(total0);
                        }
                        var totalvat0 = parseFloat(sum0 / 100 * 6 + sum0 - sum0);
                        var totalr = Math.round(totalvat0, 2);
                        $('#BTW0').text(totalvat0.toFixed(2));
                    }
                    else {
                        $('#BTW0').text('0.00');
                    }
                })
            }

            var sum6 = 0;
            var total6 = 0;
            $('#orderdetailsitems tr').each(function () {
                var r = $(this).closest('tr');
                var value = r.find('.VAT  option:selected').val();
                if (r.find('.VAT  option:selected').val() == 6) {
                    total6 = r.find('td:eq(3)').find('input').val();
                    if (!isNaN(total6) && total6.length != 0) {
                        sum6 += parseInt(total6);
                    }
                    var totalvat6 = parseFloat(sum6 / 100 * 6 + sum6 - sum6);
                    var totalr = Math.round(totalvat6, 2);
                    $('#BTW6').text(totalvat6.toFixed(2));
                }
            })

            var sum21 = 0;
            var total21 = 0;
            $('#orderdetailsitems tr').each(function () {
                //$('#BTW21').text();
                var r = $(this).closest('tr');
                var value = r.find('.VAT  option:selected').val();
                if (r.find('.VAT  option:selected').val() == 21) {

                    total21 = r.find('td:eq(3)').find('input').val();
                    if (!isNaN(total21) && total21.length != 0) {
                        sum21 += parseInt(total21);
                    }
                    var totalvat21 = parseFloat(sum21 / 100 * 21 + sum21 - sum21);

                    $('#BTW21').text(totalvat21);
                }

            })
            RowCounte();
        }


        //SUMOFALLPRODUCT();
        /// sumofGrandModel();



        function RowCounte() {

            var rowCount6 = 0;
            var rowCount21 = 0;
            var rowCount0 = 0;

            $('#orderdetailsitems tr td').each(function () {


                var EquationResult = $(this).find('.VAT').val();

                if (EquationResult == 6) {
                    rowCount6++;

                }
                else if (EquationResult == 21) {
                    rowCount21++;
                }
                else if (EquationResult == 0) {
                    rowCount0++
                }
            })

            if (rowCount0 == 0) {
                $("#btwo").text('0.00');
            }
            if (rowCount6 == 0) {
                $("#BTW6").text('0.00');
            }
            if (rowCount21 == 0) {
                $("#BTW21").text('0.00');
            }

            if ($('#orderdetailsitems tr').length == 0) {
                alert();
                $('#SubTotal').text();
                $('#TotalBTW').text();
                $('#gtotal').text();
            }
        }


        $('#orderdetailsitems').on('click', '.remove', function () {

            var currentRow = $(this).closest('tr');
            var vat = currentRow.find('.VAT  option:selected').val();
            var Total = currentRow.find('.FTotal').val();
            if (vat == 6) {
                var totalvat6 = parseInt(Total / 100) * 6 + (Total - Total);

                var BTW6 = $('#BTW6').text();
                $('#BTW6').text();
                $('#BTW6').text(parseInt(BTW6 - totalvat6));

            }
            if (vat == 21) {
                var currentRow = $(this).closest('tr');
                var vat21 = currentRow.find('.VAT  option:selected').val();
                var Total21 = currentRow.find('.FTotal').val();
                if (vat == 21) {
                    var totalvat21 = parseFloat(Total21 / 100) * 21 + (Total21 - Total21);

                    var BTW21 = $('#BTW21').text();
                    $('#BTW21').text();
                    $('#BTW21').text(parseFloat(BTW21 - totalvat21));

                }
            }
            $(this).parents('tr').remove();
            SUMOFALLPRODUCT();
            sumofGrandModel();
            //reset all totals
            if ($('#orderdetailsitems tr').length == 0) {
                $('#SubTotal').text('');
                $('#TotalBTW').text('');
                $('#gtotal').text('');
                $('#BTW6').text('');
                $('#BTW21').text('');
                $('#btwo').text('');
            }
        });


        $("#Submit").click(function () {

            var isAllValid = true;
            $('#orderItemError').text('');

            var list = [];
            var errorItemCount = 0;
            $('#orderdetailsitems tbody tr').each(function (index, ele) {

                if ($('#SelectProductQutation', this).val() == '0' ||
                    (parseInt($('.quantity', this).val()) || 0) == 0 ||
                    $('.rate', this).val() == "" ||
                    isNaN($('.rate', this).val())
                    ) {
                    errorItemCount++;
                    $(this).addClass('error');
                }
                else {
                    var orderItem = {
                        ItemId: $('select.product', this).val(),
                        Quantity: parseInt($('.quantity', this).val()),
                        Rate: parseFloat($('.rate', this).val()),
                        TotalAmount: parseFloat($('.FTotal', this).val()),
                        Vat: parseFloat($('.VAT', this).val())
                    }
                    list.push(orderItem);
                }
            });

            if (errorItemCount > 0) {
                $("#orderItemError").text(errorItemCount + "Invalid entry in order itme list.");
                isAllValid = false;
            }

            if (list.length == 0) {

                $("#orderItemError").text("At least one order item required.");
                isAllValid = false;
            }


            if (isAllValid) {
                $(this).val("please wait...");
                var empObj = {

                    Qutation_ID: $('#Qutation_ID').val(),
                    RefNumber: $('#RefNumber').val(),
                    QutationDate: $('#QutationDate').val(),
                    DueDate: $('#DueDate').val(),
                    SubTotal: $('#SubTotal').val(),
                    DiscountAmount: $('#DiscountAmount').val(),

                    Vat: $('#Vat').val(),
                    Total: $('#Total').val(),
                    CustomerNote: $('#CustomerNote').val(),
                    QutationDetailslist: list

                };
                $.ajax({
                    url: "/MVCQutation/Save",
                    data: JSON.stringify(empObj),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        if (result != 0) {
                            alert('Successfully saved');
                            list = [];
                            $('#Qutation_ID,#RefNumber,#SubTotal,#DiscountAmount,#Vat,#TotalAmount,#CustomerNote').val('');
                            $('#orderdetailsitems').empty();
                            $("#Submit").val('Save');
                        }

                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }

                });

            }

        });
    });

    $(function () {
        $(".datepicker").datepicker({
            dateFormat: "dd-mm-yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-10:+10",
            //buttonText: "Select"
            //showOn: 'both',
            //buttonText: 'Calendar'

        });
    });







    @*<script>
    $(function(){
        $('#addMore').on('click', function() {
            var data = $("#maintableQutation tr:eq(1)").clone(true).appendTo("#maintableQutation");
                  data.find("input").val('');
         });
         $(document).on('click', '.remove', function() {
             var trIndex = $(this).closest("tr").index();
                if(trIndex>1) {
                 $(this).closest("tr").remove();
               } else {
                 alert("Sorry!! Can't remove first row!");
               }
          });
    });
    </script>*@


    function LoadProduct() {
        $("#SelectProductQutation").find("option").remove();
        $("#SelectProductQutation").prepend("<option value=0>" + 'Select Item' + "</option>");

        $.ajax({
            url: "/MVCProduct/GetProduct",
            type: "Get",
            async: false,
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (data) {

                $.each(data, function (key, item) {

                    $('#SelectProductQutation').append($('<option></option>').val(item.ProductId).html(item.ProductName));

                });

            },
            Error: function (errormessage) {
                alert(errormessage);
            }

        });
    }




    $('#Rate').keyup(function () {
        currentRow1 = $(this).closest("tr");
        var currentRow = $(this).closest("tr");
        var quantity = currentRow.find("td:eq(1)").find('input').val(); // get current row 1st TD value
        var Price = $(this).val();
        var total = quantity * Price;
        currentRow.find('td:eq(3)').find('input').val(total);
        var sum = 0;
        var vatValue = currentRow1.find('#SelectVAT option:selected').val();
        if (vatValue == 0) {
            $('#btwo').text('0.00');
        }

        if (vatValue == 6) {
            var sum6 = 0;
            var total6 = 0;
            $('#orderdetailsitems tr').each(function () {
                r = $(this).closest('tr');
                var value = r.find('.VAT  option:selected').val();
                if (r.find('.VAT  option:selected').val() == 6) {
                    total6 = r.find('td:eq(3)').find('input').val();
                    if (!isNaN(total6) && total6.length != 0) {
                        sum6 += parseFloat(total6);
                    }
                    var totalvat6 = parseFloat(sum6 / 100 * 6 + sum6 - sum6);
                    $('#BTW6').text(totalvat6.toFixed(2));
                }
            })


        }


        if (vatValue == 21) {
            var sum21 = 0;
            var total21 = 0;
            $('#orderdetailsitems tr').each(function () {
                r = $(this).closest('tr');
                var value = r.find('.VAT  option:selected').val();
                if (r.find('.VAT  option:selected').val() == 21) {
                    total21 = r.find('td:eq(3)').find('input').val();
                    if (!isNaN(total21) && total21.length != 0) {
                        sum21 += parseFloat(total21);
                    }
                    var totalvat21 = parseFloat(sum21 / 100 * 21 + sum21 - sum21);
                    $('#BTW21').text(totalvat21.toFixed(2));
                }

            })
        }


        SUMOFALLPRODUCT();
        sumofGrandModel();
    })

    function SUMOFALLPRODUCT() {
        var sum = 0;
        $('#orderdetailsitems tr').each(function () {
            var row = $(this).closest('tr');
            var total = row.find('td:eq(3)').find('.FTotal ').val();
            if (!isNaN(total) && total.length != 0) {
                sum += parseFloat(total);
            }
            $('#TotalBTW').text(sum.toFixed(2));
            $('#SubTotal').text(sum.toFixed(2));

        })
    }

    function sumofGrandModel() {

        var btw6 = 0, btw21, totalbtw = 0, grandtotal = 0;
        btw6 = parseFloat($('#BTW6').text());
        btw21 = parseFloat($('#BTW21').text());
        totalbtw = parseFloat($('#TotalBTW').text());
        btw6 = isNaN(btw6) ? 0 : btw6;
        btw21 = isNaN(btw21) ? 0 : btw21;
        totalbtw = isNaN(totalbtw) ? 0 : totalbtw;
        grandtotal = parseFloat(btw6) + parseFloat(btw21) + parseFloat(totalbtw);
        var t = parseFloat(grandtotal);
        $('#gtotal').text(t.toFixed(2));
        //
        //if (!isNaN(grandtotal) && grandtotal.length != 0) {
    }

    $(document).on('keyup', '#orderdetailsitems .rate', function () {

        var currentRow1 = $(this).closest("tr");
        var currentRow = $(this).closest("tr");
        var quantity = currentRow.find("td:eq(1)").find('input').val(); // get current row 1st TD value
        var Price = $(this).val();
        var total = quantity * Price;
        currentRow.find('td:eq(3)').find('input').val(total);
        var sum = 0;
        var vatValue = currentRow1.find('.VAT  option:selected').val();
        if (vatValue == 0) {
            $('#btwo').text('0.00');
        }
        if (vatValue == 6) {
            var sum6 = 0;
            var total6 = 0;
            $('#orderdetailsitems tr').each(function () {

                r = $(this).closest('tr');
                var value = r.find('.VAT  option:selected').val();
                if (r.find('.VAT  option:selected').val() == 6) {
                    total6 = r.find('td:eq(3)').find('input').val();
                    if (!isNaN(total6) && total6.length != 0) {
                        sum6 += parseInt(total6);
                    }
                    var totalvat6 = parseFloat(sum6 / 100 * 6 + sum6 - sum6);

                    $('#BTW6').text(totalvat6.toFixed(2));
                }
            })
        }


        if (vatValue == 21) {
            var sum21 = 0;
            var total21 = 0;
            $('#orderdetailsitems tr').each(function () {

                r = $(this).closest('tr');
                var value = r.find('.VAT  option:selected').val();
                if (r.find('.VAT  option:selected').val() == 21) {
                    total21 = r.find('td:eq(3)').find('input').val();
                    if (!isNaN(total21) && total21.length != 0) {
                        sum21 += parseInt(total21);
                    }
                    var totalvat21 = parseFloat(sum21 / 100 * 21 + sum21 - sum21);
                    $('#BTW21').text(totalvat21.toFixed(2));
                }
            })
        }
        SUMOFALLPRODUCT();
        sumofGrandModel();
    });

    var vatValue = 0;
    $(document).on('keyup', '#orderdetailsitems .quantity ', function () {
        var currentRow = $(this).closest("tr");
        var quantity = currentRow.find("td:eq(1)").find('input').val(); // get current row 1st TD value
        var Price = currentRow.find("td:eq(2)").find('input').val();//$(this).val();
        var total = quantity * Price;
        currentRow.find('td:eq(3)').find('input').val(total);
        var sum = 0;
        vatValue = currentRow.find('.VAT  option:selected').val();
        if (vatValue == 0) {
            $('#btwo').text('0.00');
        }
        if (vatValue == 6) {
            var sum6 = 0;
            var total6 = 0;
            $('#orderdetailsitems tr').each(function () {
                var r = $(this).closest('tr');
                var value = r.find('.VAT  option:selected').val();
                if (r.find('.VAT  option:selected').val() == 6) {
                    total6 = r.find('td:eq(2)').find('input').val();
                    var quantit = r.find('td:eq(1)').find('input').val();

                    totalvat6 = parseFloat(quantit * total6);
                    //if (!isNaN(total21) && total21.length != 0) {
                    //    sum21 += parseInt(total21);
                    //}
                    var totalvat6 = parseFloat(totalvat6 / 100 * 6 + totalvat6 - totalvat6);
                    $('#BTW6').text(totalvat6.toFixed(2));
                }

            })



        }



        if (vatValue == 21) {
            var sum21 = 0;
            var total21 = 0;
            $('#orderdetailsitems tr').each(function () {

                var r = $(this).closest('tr');
                var value = r.find('.VAT  option:selected').val();
                if (r.find('.VAT  option:selected').val() == 21) {
                    total21 = r.find('td:eq(2)').find('input').val();
                    var quantit = r.find('td:eq(1)').find('input').val();

                    totalvat21 = parseFloat(quantit * total21);
                    //if (!isNaN(total21) && total21.length != 0) {
                    //    sum21 += parseInt(total21);
                    //}
                    var totalvat21 = parseFloat(totalvat21 / 100 * 21 + totalvat21 - totalvat21);
                    $('#BTW21').text(totalvat21.toFixed(2));
                }

            })



        }
    });




    $('#Quantity').keyup(function () {
        var currentRow = $(this).closest("tr");
        var quantity = $(this).val();  // get current row 1st TD value
        var Price = currentRow.find("td:eq(2)").find('input').val();
        var total = quantity * Price;
        currentRow.find('td:eq(3)').find('input').val(total);
    })

</script>


<script>
    $(document).ready(function () {
        $("#CompanyListTable").DataTable({
            // "processing": true, // for show progress bar
            processing: true,
            "language": {
                "processing": $('#loader').append("<img  src='../images/XtaS.gif' width='100px' height='60px' />"),  //add a loading image,simply putting tag.
            },
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once

            searching: true,
            "ajax": {
                "url": "/Company/Index1",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "CompanyId", "name": "CompanyId", "autoWidth": true },
                    { "data": "ComapanyName", "name": "ComapanyName", "autoWidth": true },
                    { "data": "CompanyAddress", "name": "CompanyAddress", "autoWidth": true },
                    { "data": "CompanyPhone", "name": "CompanyPhone", "autoWidth": true },
                    { "data": "CompanyCell", "name": "CompanyCell", "autoWidth": true },
                    { "data": "CompanyEmail", "name": "CompanyEmail", "autoWidth": true },
                   { "data": "CompanyTRN", "name": "CompanyTRN", "autoWidth": true },
                   {
                       'data': 'CompanyLogo',
                       render: function (logo) {
                           if (logo) {
                               return '<img height="25px" width="25px" src="' + logo + '" />'
                           }
                           else { return 'No Image'; }
                       }
                   },
                  {
                      render: function (data, type, row) {
                          return '<a href="#" class="btn btn-info btn-xs" data-id="Id" onclick="Edit(' + row.CompanyId + ')"><i class="glyphicon glyphicon-pencil "></i></a>|<a href="#" class="btn btn-danger btn-xs" onclick="DeleteCompany(' + row.CompanyId + ')"><i class="glyphicon glyphicon-trash"></i></a>|<a href="#" class="btn btn-success btn-xs" onclick="Delete(' + row.CompanyId + ')"><i class="glyphicon glyphicon-eye-open"></i></a>'
                      }
                  }

            ]
        });
    });



    $(document).ready(function () {

        $("#ContactListTable").DataTable({
            //"processing": true, // for show progress bar
            processing: true,
            "language": {
                "processing": $('#loaderMvcConatc').append("<img  src='../images/XtaS.gif' width='100px' height='60px' />"),  //add a loading image,simply putting tag.
            },
            searching: true,
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/MVCContacts/GetContactList",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "ContactsId", "name": "ContactsId", "autoWidth": true },
                    { "data": "ContactName", "name": "ContactName", "autoWidth": true },
                    { "data": "ContactAddress", "name": "ContactAddress", "autoWidth": true },
                    { "data": "Type", "name": "Type", "autoWidth": true },
                    { "data": "BillingPersonName", "name": "BillingPersonName", "autoWidth": true },
                    { "data": "BillingCompanyName", "name": "BillingCompanyName", "autoWidth": true },
                    { "data": "BillingVatTRN", "name": "BillingVatTRN", "autoWidth": true },
                    { "data": "Status", "name": "Status", "autoWidth": true },
                    {
                        render: function (data, type, row) {
                            return '<a href="" class="btn btn-info btn-xs" data-id="Id" onclick="Edit(' + row.ContactsId + ')"><i class="glyphicon glyphicon-pencil "></i></a>|<a href="" class="btn btn-danger btn-sm" onclick="DeleteCompany(' + row.ContactsId + ')"><i class="glyphicon glyphicon-trash"></i></a>|<a href="" class="btn btn-success btn-xs" onclick="Delete(' + row.ContactsId + ')"><i class="glyphicon glyphicon-eye-open"></i></a>'
                        }
                    }

                   //{
                   //    'data': 'CompanyLogo',
                   //    render: function (logo) {
                   //        if (logo) {
                   //            return '<img height="25px" width="25px" src="' + logo + '" />'
                   //        }
                   //        else { return 'No Image'; }
                   //    }
                   //},
                  //{
                  //    render: function (data, type, row) {
                  //        return '<a href="#" class="btn btn-info btn-xs" data-id="Id" onclick="Edit(' + row.CompanyId + ')"><i class="glyphicon glyphicon-pencil "></i></a>|<a href="#" class="btn btn-danger btn-xs" onclick="DeleteCompany(' + row.CompanyId + ')"><i class="glyphicon glyphicon-trash"></i></a>|<a href="#" class="btn btn-success btn-xs" onclick="Delete(' + row.CompanyId + ')"><i class="glyphicon glyphicon-eye-open"></i></a>'
                  //    }
                  //}

            ]
        });
    });

    function Edit(companyId) {
        window.location.href = "Company/AddOrEdit/" + companyId;
    }



    $(document).ready(function () {
        $("#QutationListTable").DataTable({
            //"processing": true, // for show progress bar
            "processing": true,
            "language": {
                "processing": $('#loaderQuationList').append("<img  src='../images/XtaS.gif' width='100px' height='60px' />"),  //add a loading image,simply putting tag.
            },
            "searching": true,
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/MVCQutation/IndexQutation",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                    { "data": "QutationID", "name": "QutationID", "autoWidth": true },// key for edit delete
                    { "data": "Qutation_ID", "name": "Qutation_ID", "autoWidth": true },
                    { "data": "RefNumber", "name": "RefNumber", "autoWidth": true },


                   {
                       "data": "QutationDate", "type": "date ",
                       "render": function (value) {
                           if (value === null) return "";
                           var pattern = /Date\(([^)]+)\)/;//date format from server side
                           var results = pattern.exec(value);
                           var dt = new Date(parseFloat(results[1]));

                           return dt.getDate() + "-" + (dt.getMonth() + 1) + "-" + dt.getFullYear();
                       }, "autoWidth": true
                   },


                    { "data": "DiscountAmount", "name": "DiscountAmount", "autoWidth": true },
                    { "data": "Status", "name": "Status", "autoWidth": true },

                    //{
                    //    render: function (data, type, row) {
                    //        return '<a href="" class="btn btn-info btn-xs" data-id="Id" onclick="Edit(' + row.ContactsId + ')"><i class="glyphicon glyphicon-pencil "></i></a>|<a href="" class="btn btn-danger btn-xs" onclick="DeleteCompany(' + row.ContactsId + ')"><i class="glyphicon glyphicon-trash"></i></a>|<a href="" class="btn btn-success btn-xs" onclick="Delete(' + row.ContactsId + ')"><i class="glyphicon glyphicon-eye-open"></i></a>'
                    //    }
                    //}



            ]
        });
    });

</script>






