
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-6">
                    @{

                        var Contectdatas = ViewBag.Contentdata;
                        var CompanyDatas = ViewBag.Companydata;
                        var quation = ViewBag.QutationDat;
                    }


                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-6">
                            <img src="@Url.Content(CompanyDatas.CompanyLogo)" class="img-responsive" id="targetImg" style="height:100px; width:100px;border:none" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-1"></div>
                            <div class="col-sm-1">
                                <h5 style="font-size:10px;">@CompanyDatas.ComapanyName</h5>
                                <h5 style="font-size:10px;">@CompanyDatas.CompanyAddress</h5>
                                <h5 style="font-size:10px;">@CompanyDatas.CompanyPhone</h5>
                                <h5 style="font-size:10px;">@CompanyDatas.CompanyEmail</h5>

                            </div>
                        <div class="col-sm-2"></div>
                            <div class="col-sm-2">
                                <h5 style="font-size:10px;">@Contectdatas.ContactName</h5>
                                <h5 style="font-size:10px;">@Contectdatas.ContactAddress</h5>
                                <h5 style="font-size:10px;">@Contectdatas.BillingEmail</h5>
                                <h5 style="font-size:10px;">@Contectdatas.BillingVatTRN</h5>
                            </div>
                        </div>


                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-6">
                            <h4 style="color:skyblue;font-size:10px;">Qutation Invoice</h4>

                            <div class="form-horizontal">

                                <div class="row">
                                    <div class="col-sm-2" style="font-size:10px;">Invoice Date:</div>
                                    <div class="col-sm-4">
                                        <label style="font-size:10px;">@quation.QutationDate</label>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:3px">
                                    <div class="col-sm-2" style="font-size:10px;">Invoice Number:</div>
                                    <div class="col-sm-4">
                                        <label style="font-size:10px;">@quation.Qutation_ID</label>
                                    </div>
                                    <div class="col-sm-6"></div>
                                </div>
                                <div class="row" style="margin-top:3px">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="col-sm-4">Invoice period:</div>
                                            <div class="col-sm-4" style="font-size:10px;">
                                                <label>@quation.QutationDate</label>
                                            </div>

                                            <div class="col-sm-4" style="font-size:10px;">
                                                <label>@quation.DueDate</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6"></div>
                                </div>

                                <div class="row" style="margin-top:3px">
                                    <div class="col-sm-3" style="font-size:10px;">Refrence Number:</div>
                                    <div class="col-sm-4">
                                        <label style="font-size:10px;">@quation.RefNumber</label>

                                    </div>
                                    <div class="col-sm-6"></div>
                                </div>

                                <div class="row" style="margin-top:3px">
                                    <div class="col-sm-2"><a href="#" style="font-size:10px;"> Add VAT:</a></div>
                                    <div class="col-sm-4">

                                    </div>
                                    <div class="col-sm-6"></div>
                                </div>
                            </div>

                            <div class="row">


                                    <table id="mytable" class="table table-bordred table-striped">
                                        <thead>
                                            <tr>
                                                <th class="col-sm-4">
                                                    Decription
                                                </th>
                                                <th class="col-sm-2">
                                                    Quantity
                                                </th>
                                                <th class="col-sm-2">
                                                    Price
                                                </th>
                                                <th class="col-sm-2">
                                                    Total
                                                </th>
                                                <th class="col-sm-1">
                                                    Vat
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>


                                            @foreach (var item in ViewBag.QutationDatailsList)
                                            {
                                                <tr>
                                                    <td>@item.Description</td>
                                                    <td>@item.Quantity</td>
                                                    <td>@item.Rate</td>
                                                    <td>@item.Total</td>
                                                    <td>@item.Vat</td>

                                                </tr>
                                            }
                                        </tbody>

                                    </table>



                                    <div id="OrderItems">
                                        <table class="table table-responsive" id="orderdetailsitems"></table>
                                        <span id="orderItemError" style="color:red"></span>
                                    </div>

                                </div>

                            </div>

                                


                                <div class="row">
                                    <div class="col-sm-8">
                                    </div>
                                    <div class="col-sm-2">Sub Total:</div>
                                    <div class="col-sm-2">
                                        <label id="SubTotal">@quation.SubTotal</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-8">
                                    </div>
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-2">
                                        <label id="TotalBTW"></label>

                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-2">Customer Note:</div>
                                    <div class="col-sm-6">
                                        <label>@quation.CustomerNote</label>
                                    </div>
                                    <div class="col-sm-2">Total:</div>
                                    <div class="col-sm-2">
                                        <span class="form-inline">&euro;</span><label id="gtotal">@quation.TotalAmount</label>

                                    </div>
                                </div>
                           

                        </div>
                    </div>

                </div>
                <div class="col-sm-1"></div>

             