
@{
    ViewBag.Title = "ViewQuation";
}

@model InvoiceDisk.Models.MVCQutationViewModel

@{

    var Contectdatas = ViewBag.Contentdata;
    var CompanyDatas = ViewBag.Companydata;
    var QutationModel = ViewBag.QutationDat;
}



<div class="row" style="margin-top:100px;margin-left:0px;margin-right:0px;">
    @*please dont remove this form*@
    @using (Html.BeginForm("DownloadFile", "MvcQutation", FormMethod.Post, new { id = "DownloadFile1" }))
    {
        <input type="hidden" name="FilePath" id="FilePath" />
        <button type="submit" id="downloadf" class="hidden"></button>
    }
    <div class="row" style="margin-left:0px;margin-right:0px;">
        <div class="btn-group">
            <button type="button" class="btn btn-primary lg">Send</button>

            <a href="/MVCQutation/Print">print </a>
            <button type="submit" class="btn btn-primary">Print Concept</button>

            <a href="/MVCQutation/AddOrEdit/@QutationModel.QutationID" class="btn btn-default">Change</a>
            <button type="button" class="btn btn-primary">Change</button>


            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Extra Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Tablet</a></li>
                    <li><a href="#">Smartphone</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div style="margin-top:10px;border: 1px solid #CECECE;">
    <div class="row" style="margin-right: 0px;margin-left: 50px; margin-top: 50px;">
        <img src="@Url.Content(CompanyDatas.CompanyLogo)" class="img-responsive" id="targetImg" style="height:100px; width:100px;border:none" />
    </div>
    <div class="row" style="margin-right: 0px;margin-left: 50px; margin-top: 50px; margin-bottom:50px;">
        <div class="col-md-4">
            <label>@CompanyDatas.ComapanyName</label>
            <br />
            <label>zip code</label>
            <br />
            <label>T:</label>
            <br />
            <label>this.com</label>
        </div>
        <div class="col-md-4">
            <img src="https://www.factuurdesk.nl/images/layout/offerte_concept.png" />
        </div>
        <div class="col-md-4">
            <label>@CompanyDatas.ComapanyName</label><br />
            <label> @Contectdatas.ContactName</label>
        </div>

    </div>
    <div class="row" style="margin-right: 0px;margin-left: 50px; margin-top: 50px;">
        <p><b style="margin-left:10px">Quation</b></p>
        <div class="col-md-2">
            <label>offer Date</label>
            <label>offer number</label>
            <label>valid untill</label>
        </div>
        <div class="col-md-3">
            <label>@QutationModel.QutationDate</label><br />
            <label>@QutationModel.RefNumber</label><br />
            <label>@QutationModel.DueDate</label>
        </div>
    </div>
    <div class="row" style="margin-right: 66px;margin-left: 50px; margin-top: 50px; margin-bottom:50px;">
        will receive the quotation from us for the services below.

        <table id="mytable" class="table table-bordred table-striped table-responsive">
            <thead>
                <tr>
                    <th class="col-sm-4">
                        Decription
                    </th>
                    <th class="col-sm-2">
                        Quantity
                    </th>
                    <th class="col-sm-2">
                        Price
                    </th>
                    <th class="col-sm-2">
                        Total
                    </th>
                    <th class="col-sm-1">
                        Vat
                    </th>
                </tr>
            </thead>
            <tbody>

                @if (ViewBag.QutationDatailsList != null)
                {
                    foreach (var item in ViewBag.QutationDatailsList)
                    {
                        <tr id="mainrow">
                            <td>
                                @item.ItemName
                            </td>
                            <td>
                                @item.Quantity
                            </td>
                            <td>
                                @item.Rate
                            </td>
                            <td>
                                @item.Total
                            </td>
                            <td>
                                @item.Vat
                            </td>

                            <td>
                                <input type="hidden" class="QutationDetailId" value="@item.QutationDetailId" />
                            </td>
                        </tr>
                    }
                }

            </tbody>

        </table>
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-sm-6">
                    <label class="tex">Total excl. VAT:	€	</label>
                </div>
                <div class="col-sm-5">
                    <label class="tex">@QutationModel.SubTotal</label>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <label class="tex">VAT 6%:	€	</label>
                </div>
                <div class="col-sm-5">
                    <label class="tex">@QutationModel.TotalVat6</label>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-6">
                    <label class="tex">VAT 21%:	€</label>
                </div>
                <div class="col-sm-5">
                    <label class="tex">@QutationModel.TotalVat21</label>

                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-6">
                    <label class="tex">Total:€</label>
                </div>
                <div class="col-sm-5">
                    <label class="tex">@QutationModel.TotalAmount</label>

                </div>
            </div>
        </div>

    </div>



    <div class="row" style="margin-right: 0px;margin-left: 50px; margin-top: 50px; margin-bottom:50px;">
        <div class="col-md-4 col-md-offset-4 text-center">
            <p>Total: &euro;:0.00</p>
        </div>
    </div>

    <div class="row" style="margin-right: 0px;margin-left: 50px; margin-top: 50px; margin-bottom:50px;">
        We hope that everything is clear. If you have any questions, please let us know.
    </div>


    <div class="row" style="margin-right: 0px;margin-left: 50px; margin-top: 50px; margin-bottom:50px;">
        With kind regards,
    </div>
    <div class="row" style="margin-right: 0px;margin-left: 50px; margin-top: 50px; margin-bottom:0px;">
        <p>samar gul</p>
        <br />
        <p>It Mill </p>
    </div>

    <hr style="border:solid 1px; margin-left:30px;margin-right:30px; margin-bottom:50 px" />
</div>



<script>

    $(document).ready(function () {
        var patth = localStorage.getItem('path');
        alert(patth);
        $("#FilePath").val(patth);
        $('#DownloadFile1').submit();
        $("#FilePath").val('');
    })
</script>